@inject IJSRuntime JS

<div class="popupOptions" id="optionsPopup" style="margin-top:0px;">
    <label style="background-color:red;">Adicionar Lançamento</label>
    <label style="background-color:red;">Ver Lançamentos</label>
</div>

@code {

}
