<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FrontBrazilStockManagement</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Portfolio">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Portfolio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Corretora">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Corretora
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Acionista">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Acionista
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Proventos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Proventos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TestComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TestComponent
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
